/* Remove background image */
html {
  background-image: none;
  background-color: transparent;
}

/* Glassy style for links */
a {
  color: #1ab78d; /* Aqua link color */
  text-decoration: none; /* Remove underline */
  transition: opacity 0.3s ease; /* Smooth transition on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Transparent black background */
  padding: 8px 16px; /* Add some padding */
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Glassy box shadow */
}

a:hover {
  opacity: 0.8; /* Slightly reduce opacity on hover */
}

/* Glassy style for input fields */
input.Input-sc-19rce1w-0.jqTCDz,
input.peer.style-module_3TDo--Tn,
textarea.Input__Textarea-sc-19rce1w-1.kKFWRA,
select.Select-sc-17exaqp-0.dupyoa {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
  color: #333333; /* Dark text color */
  border: none; /* No border */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 8px; /* Add some padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Glassy box shadow */
}

/* Glassy style for labels */
label:hover,
.GreyRowBox-sc-1xo9c6v-0 a:hover label,
.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D a:hover label,
.style-module_2Vp6MaXq.bg-gray-600.cursor-pointer a:hover label,
.style-module_2XbmHEcn.group a:hover label,
.w-full.bg-neutral-900.shadow-md.overflow-x-auto a:hover label,
.icon.mr-4 a:hover label,
.GreyRowBox-sc-1xo9c6v-0.DatabaseRow___StyledGreyRowBox-sc-1t67zwr-13.iTERJN.gkSIus a:hover label,
.EditScheduleModal___StyledDiv2-sc-wh9db9-4.fhEpAC a:hover label,
.EditScheduleModal___StyledDiv4-sc-wh9db9-6.jyDDEO a:hover label,
.EditScheduleModal___StyledDiv5-sc-wh9db9-7.ueIjC a:hover label,
.GreyRowBox-sc-1xo9c6v-0.ScheduleContainer___StyledGreyRowBox-sc-dlqnx9-2.dyLna-D.bppajE a:hover label,
.GreyRowBox-sc-1xo9c6v-0.UserRow___StyledGreyRowBox-sc-hg2wjz-0.dyLna-D.dmlaEn a:hover label,
.CreateBackupButton___StyledDiv2-sc-da8bqw-3.eDncUf a:hover label,
.flex.justify-end.space-x-4.mt-4.w-full.md\:mt-0.md\:w-48 a:hover label {
  color: #1ab78d; /* Aqua label color on hover */
}

/* Glassy style for headings */
h1, h2, h3, h4, h5, h6 {
  color: #1ab78d; /* Aqua heading color */
  margin-bottom: 10px; /* Add some margin at the bottom */
}

/* Glassy style for navigation links */
.nav-link {
  color: #1ab78d; /* Aqua link color */
  text-decoration: none; /* Remove underline */
  padding: 8px 16px; /* Add some padding */
  border-radius: 10px; /* Slightly rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Transparent black background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Glassy box shadow */
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Transparent black background on hover */
}
